@media only screen and (max-width: 990px) {
    .main-timeline:before {
      left: 100%;
    }
  
    .main-timeline .timeline {
      width: 100%;
      float: none;
      margin-bottom: 20px !important;
    }
  
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before {
      left: auto !important;
      right: -13px !important;
    }
  
    .main-timeline .timeline:nth-child(2n) .circle {
      float: left;
      margin: 0 25px 0 0;
    }
  
    .main-timeline .timeline:nth-child(2n) .circle:before {
      right: -33px;
      left: auto;
      box-shadow: 7px 0 9px -7px #444 inset;
    }
  
    .main-timeline .timeline:nth-child(2n) .circle span:after,
    .main-timeline .timeline:nth-child(2n) .circle span:before {
      right: -33px;
      left: auto;
      border-radius: 0 0 0 21px;
    }
  
    .main-timeline .timeline:nth-child(2n) .circle span:after {
      border-radius: 21px 0 0;
    }
  
    .main-timeline .timeline:nth-child(2n) .content {
      padding: 0 40px 0 0;
      margin-left: 0;
    }
  
    .main-timeline .timeline:nth-child(2n) .icon {
      right: -14px;
      left: auto;
    }
  
    .main-timeline .timeline:nth-child(2n) .icon span:after,
    .main-timeline .timeline:nth-child(2n) .icon span:before,
    .main-timeline .timeline:nth-child(2n) .icon:before {
      left: -15px;
      right: auto;
    }
  
    .main-timeline .timeline:nth-child(2n) .icon span:before {
      border-radius: 0 0 21px;
    }
  
    .main-timeline .timeline:nth-child(2n) .icon span:after {
      border-radius: 0 21px 0 0;
    }
  
    .main-timeline .timeline:nth-child(2),
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd) {
      margin: 0;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .main-timeline:before {
      left: 0;
    }
  
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before {
      left: -12px !important;
      right: auto !important;
    }
  
    .main-timeline .circle,
    .main-timeline .timeline:nth-child(2n) .circle {
      width: 130px;
      height: 130px;
      float: none;
      margin: 0 auto;
    }
  
    .main-timeline .timeline-content:before {
      width: 99.5%;
      top: 68px;
      left: 0.5%;
    }
  
    .main-timeline .circle span {
      line-height: 115px;
      font-size: 60px;
    }
  
    .main-timeline .circle span:after,
    .main-timeline .circle span:before,
    .main-timeline .circle:before,
    .main-timeline .icon {
      display: none;
    }
  
    .main-timeline .content,
    .main-timeline .timeline:nth-child(2n) .content {
      padding: 0 10px;
    }
  
    .main-timeline .year {
      margin-bottom: 15px;
    }
  
    .main-timeline .description {
      text-align: center;
    }
  
    .titleMain {
      color: var(--simple-title);
      padding-top: 20%;
      padding-left: 5%;
    }
  }
  
  @media only screen and (max-width: 279px) {
    .titleMain {
      padding-top: 40%;
    }
  }