@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  background-color: var(--back-ground);
  background-image: url(/assets/images/grid-background.svg);
  background-position: center;
  background-size: cover;
  font-family: "Raleway", sans-serif;
}
/* === HEADER === */
header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  z-index: 1000;
}
header .btn {
  font-weight: 700;
  background-color: var(--btn-bg);
  border-radius: 27px;
  font-size: 16px;
  padding: 10px 24px;
  border: var(--border-btn);
  color: var(--simple-title);
}
header .btn:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--simple-title);
}
header .fa {
  color: var(--simple-title);
  font-size: 24px;
}
/*  === NAV Style === */
.navbar-brand {
  font-size: 24px;
  color: var(--simple-title);
  font-weight: 700;
  font-style: none;
}
.navbar-brand:hover {
  color: var(--simple-title);
}
.navbar-brand span {
  color: var(--primary);
}
header .nav-link {
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 16px;
  color: var(--simple-title);
}
header .nav-link:hover {
  color: var(--primary);
}
/* === HOME === */
.home {
  padding-top: 169px;
  /* background-image: url(/assets/images/grid-background.svg);
  background-position: center;
  background-size: 100%; */
}
.home h1 {
  font-weight: 700;
  color: var(--simple-title);
  font-size: 36px;
}
.home p {
  color: var(--sub-title);
  font-weight: 400;
  font-size: 18px;
  padding-top: 18px;
}
.home .btn {
  font-weight: 600;
  font-size: 16px;
  background-color: var(--btn-bg);
  padding: 16px 72px;
  border-radius: 27px;
  border: var(--border-btn);
  color: var(--simple-title);
}
.home .btn:hover {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: var(--simple-title);
}

.gradiente-home {
  position: absolute;
  right: 570px;
  width: 400px;
  height: 400px;
  background-color: var(--secondary);
  filter: blur(250px);
  z-index: -1;
  background-position: center;
}
/* == Cards Cripto == */

.card {
  background: var(--card-background);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  border-radius: 18px;
}
.header-card .btn {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--arrow-up-color-bg);
  border: none;
}
.header-card {
  justify-content: space-between;
  align-items: center;
}
.header-card .card-title {
  text-transform: uppercase;
  color: var(--sub-title-card);
  font-weight: 500;
  font-size: 18px;
}
.card-information {
  color: white;
}
.header-card span {
  text-transform: uppercase;
  color: var(--pure-white);
  font-size: 18px;
}
.footer-card {
  justify-content: space-between;
  flex-direction: column;
}
.data-value {
  padding-top: 20px;
}
.data-value h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--pure-white);
}
.data-capital {
  justify-content: space-between;
  padding-top: 20px;
}
.data-capital span {
  font-size: 18px;
  color: var(--sub-title-card);
  font-weight: 500;
}
/* Cripto Cardas Informações */

.cripto-cards-info {
  padding-top: 168px;
}
.cripto-cards-info h1 {
  font-weight: 700;
  color: var(--simple-title);
  font-size: 36px;
}
.card-img,
.card-img-top {
  border-top-left-radius: 18px !important;
  border-top-right-radius: 18px !important;
}

.cripto-cards-info h5 {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--mkt-up-color);
  padding: 7px 7px;
  background: var(--bg-color-mkt-up);
  width: 125px;
  height: 38px;
  text-align: center;
  border-radius: 50px;
}
.cripto-cards-info p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding-top: 8px;
  text-align: justify;
}

/* Tabela de Cotações */
.table-bg {
  background: var(--card-background);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  padding-left: 0;
  padding-right: 0;
  border-radius: 4px;
}
.table > :not(:last-child) > :last-child > * {
  border-bottom-color: rgba(255, 255, 255, 0.05);
}
.table {
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
  padding-bottom: 1rem;
  color: #212529;
  margin-bottom: 0;
}
.table th:first-child,
.table td:first-child {
  width: 10px;
  position: sticky;
  left: 0;
  color: var(--sub-title);
  background-color: var(--back-ground);
}
/* Definindo o a largura da 5ª coluna */
.table th:last-child,
.table td:last-child {
  width: 128px;
}
/* Definindo o a largura da 2ª coluna */
.table th:nth-child(2),
td:nth-child(2) {
  left: 84px;
  width: 210px;
  background: var(--back-ground);
}

table thead th {
  color: var(--sub-title);
}
.table th {
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  text-align: center;
}
.table td {
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  color: var(--sub-title);
  text-align: center;
  white-space: nowrap;
}
.table img {
  width: 44px;
  height: 44px;
}
.table .btn {
  width: 118px;
  height: 32px;
  background: rgba(0, 222, 141, 0.75);
  border-radius: 10px;
  justify-content: center;
  padding: 4px 24px;
  color: var(--pure-white);
}
.sticky-second-col {
  background-color: var(--back-ground);
  position: sticky;
}
.sticky-col-header {
  min-width: 20px;
  max-width: 20px;
  left: 65px;
  position: sticky;
}
.coin-data-table {
  display: flex;
  gap: 8px;
  align-items: center;
}
.coin-data-table span {
  font-size: 18px;
  color: var(--sub-title);
}
.coin-data-table .symbol {
  text-transform: uppercase;
}
/* Data attribute Up Market */
.table td[data-colorMarket="up-market"] {
  color: var(--mkt-up-color);
}
/* Data attribute Down Market */
.table td[data-colorMarket="down-market"] {
  color: var(--mkt-down-color);
}
.cripto-table h1 {
  padding-top: 90px;
  font-weight: 700;
  color: var(--simple-title);
  font-size: 36px;
}
/* Footer */

footer {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
}
footer .nav-link {
  padding-left: 0;
}
footer .text-styling {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}
/* Cripto Cards color Up Market*/
.market-data[data-market-color="up-color"] {
  padding: 7px 7px;
  background: var(--bg-color-mkt-up);
  align-items: center;
  gap: 16px;
  width: 99px;
  height: 38px;
  border-radius: 50px;
}
.market-data[data-market-color="up-color"] .fas {
  color: var(--mkt-up-color);
  font-family: "FontAwesome";
  font-size: 14px;
  font-weight: 100;
}
.market-data[data-market-color="up-color"] .mkt-up {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--mkt-up-color);
  font-weight: 500;
}
/* Cripto Cards color Down Market*/
.market-data[data-market-color="down-color"] {
  padding: 7px 7px;
  background: var(--bg-color-mkt-down);
  align-items: center;
  gap: 16px;
  width: 99px;
  height: 38px;
  border-radius: 50px;
}
.market-data[data-market-color="down-color"] .fas {
  color: var(--mkt-down-color);
  font-family: "FontAwesome";
  font-size: 14px;
  font-weight: 100;
}
.market-data[data-market-color="down-color"] .mkt-up {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: var(--mkt-down-color);
}
.cripto-cards {
  padding-top: 205px;
  background-image: url(/assets/images/bg-cripto-cards.svg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: 55%;
}

.cripto-carousel {
  padding-top: 205px;
  background-image: url(/assets/images/bg-cripto-cards.svg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: 55%;
}

.carousel {
  width: 800px;
  height: 500px;
  margin: auto;
}

#map-container-google-1 iframe {
  opacity: 50%;
  transition: 0.5s;
}

#map-container-google-1 iframe:hover {
  opacity: 100%;
}

/* == Form == */

.contact {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.text {
  color: var(--simple-title);
}

.form-group {
  padding-top: 10px;
}

.form-row {
  padding-top: 10px;
}

.textBtn {
  color: var(--simple-title);
}

@media only screen and (max-width: 480px) {
  .contact {
    padding-top: 25%;
  }
}

/* == Time Line == */

.timeLineOver {
  padding: 10%;
}

.titleMain {
  color: var(--simple-title);
  padding-top: 8%;
  padding-left: 31%;
}

.main-timeline {
  position: relative;
}

.main-timeline:after,
.main-timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--primary);
  position: absolute;
  top: 0;
  left: 50%;
}

.main-timeline .timeline {
  width: 50%;
  float: left;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline:after,
.main-timeline .timeline:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--back-ground);
  border: 4px solid var(--primary);
  position: absolute;
  top: 0;
  right: -14px;
  z-index: 1;
}

.main-timeline .timeline:last-child:before {
  top: auto;
  bottom: 0;
}

.main-timeline .timeline:last-child:nth-child(even):before {
  right: auto;
  left: -12px;
  bottom: -2px;
}

.main-timeline .timeline-content {
  text-align: center;
  margin-top: 8px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.main-timeline .timeline-content:before {
  content: "";
  width: 100%;
  height: 5px;
  background: var(--primary);
  position: absolute;
  top: 88px;
  left: 0;
  z-index: -1;
}

.main-timeline .circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: var(--pure-white);
  border: 8px solid var(--primary);
  float: left;
  margin-right: 25px;
  position: relative;
}

.main-timeline .circle span:after,
.main-timeline .circle span:before,
.main-timeline .circle:before {
  content: "";
  margin: auto;
  position: absolute;
  right: -33px;
  bottom: 0;
  z-index: -1;
}

.main-timeline .circle:before {
  width: 26px;
  height: 30px;
  background: var(--primary);
  top: 0;
  box-shadow: inset 7px 0 9px -7px #444;
}

.main-timeline .circle span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  line-height: 160px;
  border: 3px solid #adabab;
  font-size: 80px;
  color: #454344;
}

.main-timeline .circle span:after,
.main-timeline .circle span:before {
  width: 28px;
  height: 50px;
  background: var(--back-ground);
  border-radius: 0 0 0 21px;
  top: -54px;
}

.main-timeline .circle span:after {
  border-radius: 21px 0 0;
  top: 0;
  bottom: -56px;
}

.main-timeline .content {
  display: table;
  padding-right: 40px;
  position: relative;
}

.main-timeline .year {
  display: block;
  padding: 10px;
  margin: 10px 0 50px;
  background: var(--primary);
  border-radius: 7px;
  font-size: 25px;
  color: var(--back-ground);
}

.main-timeline .title {
  font-size: 25px;
  font-weight: 700;
  color: var(--simple-title);
  margin-top: 0;
}

.main-timeline .icon span:after,
.main-timeline .icon span:before,
.main-timeline .icon:before {
  content: "";
  height: 25px;
  margin: auto;
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: -15px;
}

.main-timeline .description {
  font-size: 14px;
  color: var(--sub-title);
  text-align: justify;
}

.main-timeline .icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--back-ground);
  border: 4px solid var(--primary);
  position: absolute;
  top: 78px;
  right: -14px;
}

.main-timeline .icon:before {
  width: 15px;
  background: var(--primary);
  top: -1px;
}

.main-timeline .icon span:after,
.main-timeline .icon span:before {
  width: 21px;
  background: var(--back-ground);
  border-radius: 0 0 21px;
  top: -30px;
}

.main-timeline .icon span:after {
  border-radius: 0 21px 0 0;
  top: 0;
  left: -15px;
  bottom: -30px;
}

.main-timeline .timeline:nth-child(2n) .circle,
.main-timeline .timeline:nth-child(2n) .timeline-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .circle {
  margin: 0 0 0 25px;
}

.main-timeline .timeline:nth-child(2n) .circle:before {
  right: auto;
  left: -33px;
  box-shadow: -7px 0 9px -7px #444 inset;
}

.main-timeline .timeline:nth-child(2n) .circle span:after,
.main-timeline .timeline:nth-child(2n) .circle span:before {
  right: auto;
  left: -33px;
  border-radius: 0 0 21px;
}

.main-timeline .timeline:nth-child(2n) .circle span:after {
  border-radius: 0 21px 0 0;
}

.main-timeline .timeline:nth-child(2n) .content {
  padding: 0 0 0 40px;
  margin-left: 2px;
}

.main-timeline .timeline:nth-child(2n) .icon {
  right: auto;
  left: -14px;
}

.main-timeline .timeline:nth-child(2n) .icon span:after,
.main-timeline .timeline:nth-child(2n) .icon span:before,
.main-timeline .timeline:nth-child(2n) .icon:before {
  left: auto;
  right: -15px;
}

.main-timeline .timeline:nth-child(2n) .icon span:before {
  border-radius: 0 0 0 21px;
}

.main-timeline .timeline:nth-child(2n) .icon span:after {
  border-radius: 21px 0 0;
}

.main-timeline .timeline:nth-child(2) {
  margin-top: 180px;
}

.main-timeline .timeline:nth-child(odd) {
  margin: -175px 0 0;
}

.main-timeline .timeline:nth-child(even) {
  margin-bottom: 80px;
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
  margin: 0;
}

.map-container{
  padding-top: 15%;
}